<!-- <div class="w-50 mb-5 input-group flex-nowrap"> -->
  <!-- <span class="input-group-text" id="addon-wrapping">👤</span> -->
  <!-- <input 
    [(ngModel)]="fullName" 
    (input)="filterUsers()"
    value="fullName" 
    type="text" 
    class="form-control" 
    placeholder="Filter users"
    aria-label="Username" aria-describedby="addon-wrapping">
</div> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">User</th>
      <th scope="col">Subject</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sub of subjects">
      <th scope="row">{{sub.id}}</th>
      <td>{{sub.usersId}}</td>
      <td>{{sub.subjectsId}}</td>
    </tr>
  </tbody>
</table>
